mixin guest({title, list, marginBottom, value = 'Сколько гостей'})
  .search-rooms__guest
    .search-rooms__title-bottom= title
    .dropdown-guest(style={'margin-bottom': `${marginBottom}px`})
      button(value="").dropdown__button.guest__btn
      input.dropdown__input-guest.guest__input(type='text' value=`${value}` readonly)
      ul.dropdown__list.guest__list&attributes(attributes)
        each item in list
          li.dropdown__list-item(data-value="гость,гостя,гостей")= item.title
            .guest__counters
              button(data-direction="minus").counter__btn-guest.guest__counter-btn
                include ../../img/remove.svg
              input(type="number" value=`${item.value}` data-value=`${item.list}` readonly class=item.class).guest__counter
              button(data-direction="plus").counter__btn-guest.guest__counter-btn
                span
                  include ../../img/plus.svg
        li.guest__btns
          button.clear.guest__clear очистить
          button.apply.guest__apply применить