mixin guest({title, list, isActive = false})
  -
    const classesGuest = ['guest'];
    const classesInput = ['guest__input'];
    const classesContents = ['guest__contents'];
    const classesArray = [classesGuest, classesInput, classesContents];
    if (isActive) {
      classesGuest.push('open active');
      classesInput.push('open active');
      classesContents.push('open active');
    };
  div(class=classesGuest)
    input(class=classesInput type='text' value='Сколько гостей' name='количество гостей' readonly)
    div(class=classesContents)
      each item in list
        - const { title, value, dataset } = item;
        .guest__option
          span.guest__title= title
          button(type='button' data-btn='minus').guest__btn
            include ../../img/remove.svg
          input(type='text' value=`${value}` data-value=`${dataset}` readonly).guest__value
          button(type='button' data-btn='plus').guest__btn
            include ../../img/plus.svg
      .guest__buttons
        button(type='button').clear.guest__clear очистить
        button(type='button').apply.guest__apply применить