mixin list-checkbox(title, items, activeClass)
  .list-checkbox
    .list-checkbox__title&attributes(attributes)= title
    .list-checkbox__list(class=`${activeClass}`)
      each item in items
        - const { id, text, checked } = item;
        if checked
          .list-checkbox__item
            input.checkbox__input(type="checkbox" id=`list-checkbox-${id}` checked)
            label.checkbox__label(for=`list-checkbox-${id}`)= text
        else
          .list-checkbox__item
            input.checkbox__input(type="checkbox" id=`list-checkbox-${id}`)
            label.checkbox__label(for=`list-checkbox-${id}`)= text