mixin card(list)
  each item in list
    - const { number, text, price, counter, test, slides, swipperArrowHidden, rating } = item;
    .card
      .swiper-container
        .swiper-wrapper
          each item in slides
            .swiper-slide
              img(src=require(`/img/${item.image}`).default, alt="")
        .swiper-pagination
        .swiper-button-next(class=swipperArrowHidden)
        .swiper-button-prev(class=swipperArrowHidden)
      .card__title
        a(href="https://ramai1990.github.io/frontend/room").card__title_left
          span №
          | #{number}
          span= text
        p.card__title_right= price
          span в сутки
      .card__reviews
        +rating({rating: rating})
        .card__text= counter
          span Отзывов