mixin card(list)
  each item in list
    - const { type, number, text, price, counter, test, slides, swipperArrowHidden } = item;
    .card
      .swiper-container
        .swiper-wrapper
          each item in slides
            .swiper-slide
              img(src=require(`/img/${item.image}`).default, alt="")
        .swiper-pagination
        .swiper-button-next(class=swipperArrowHidden)
        .swiper-button-prev(class=swipperArrowHidden)
      .card-luxe__title.luxe-title
        h3.luxe-title__left
          span №
          | #{number}
          span= text
        p.luxe-title__right= price
          span в сутки
      .card-luxe__reviews
        if type === 'luxe'
          +rating([
            {
              classes: 'card-luxe__rating',
              selectClass: 'rate-elements__rating'
            }
          ])
        else if type === 'normal'
          +rating([
            {
              classes: 'card-luxe__rating',
              selectClass: 'rate-elements__rating2'
            }
          ])
        .card-luxe__text= counter
          span Отзывов