mixin card(list)
  each item in list
    - const { number, text, price, counter, test, slides, swipperArrowHidden, rating } = item;
    .card
      .swiper-container
        .swiper-wrapper
          each item in slides
            .swiper-slide
              img(src=require(`/img/${item.image}`).default, alt="")
        .swiper-pagination
        .swiper-button-next(class=swipperArrowHidden)
        .swiper-button-prev(class=swipperArrowHidden)
      .card-luxe__title.luxe-title
        a(href="https://ramai1990.github.io/frontend/room").luxe-title__left
          span №
          | #{number}
          span= text
        p.luxe-title__right= price
          span в сутки
      .card-luxe__reviews
        +rating([
          {
            classes: 'card-luxe__rating',
            rating: `${rating}`
          }
        ])
        .card-luxe__text= counter
          span Отзывов