mixin btn({theme, href, text, buttonClass})
  case theme
    when "primary"
      form(action=href)
        button.btn-reset.header-btns__signup(class=buttonClass)= text
    when "border"
      form(action=href)
        .header-btns_border&attributes(attributes)
          button(type="submit" class=buttonClass).btn-reset= text
    when "arrow"
      form(action=href)
        button.button-elements__default.btn-reset.btn-default(class=buttonClass)= text
    when "btn-form"
      form(action=href)
        .btn-border.signin__bottom-btn
          button(type="submit").btn-border__primary.btn-reset= text
    default
      a(href=href).button-elements__link.link-primary= text